body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #F5F5EE;
  color: #555;  /* this repeats each digit, #123 == #112233 */
}

p
{ padding: 0 0 0.5em 0;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6
{ font: normal 100%, arial;
  letter-spacing: 0em;
}

h1, h2, h3   /* this overrides previous settings */
{ font: normal 170% 'century gothic', arial;
  margin: 0 0 0.5em 0;
}

h1 {
  font-size: 170%;
  color: #362C20;
  padding: 0 0 0.2em 0;
}

h2 {
  font-size: 160%;
  color: #009FBC;
  padding: 0.5em 0 0.2em 0;
}

h3
{ font-size: 140%;
  color: #000;
  padding: 0.2em 0 0 0;
}

h4
{ font: normal 110% arial;
  color: #009FBC;
  padding: 0 0 0.2em 0;
  text-transform: uppercase;
}

h5, h6
{ font: normal 95% arial;
  color: #888;
  padding: 0 0 0.5em 0;
  letter-spacing: normal;
}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #AEB002;
}

a:hover
{ text-decoration: none; }

ul
{ margin: 0.1em 0 1em 1em; }

ul li         /* for li's inside of ul's */
{ list-style-type: circle;
  margin: 0 0 0.3em 0;
  padding: 0 0 0.3em 0.3em;
  line-height: 1.5em;
}

ol
{ margin: 0.5em 0 1em 1em; }

ol li
{ margin: 0 0 0 0; }

.left         /* .class refers to a class; classes can be used several times */
{ float: left;
  width: auto;
  margin-right: 1em;
}

.right
{ float: right;
  width: auto;
  margin-left: 1em;
}

.center
{ display: block;
  text-align: center;
  margin: 2em auto;
}

#main, #logo, #menubar, #site_content, #footer
/* #id refers to a specific id; there should be only 1 element with that ID */
{ margin-left: auto;
  margin-right: auto;
}

#header
{ background: #323534;
  height: 4.8em;
}

#logo
{ background: transparent;
  height: 5em;
  position: relative;
  margin-left: 10em;
}

#logo #logo_text
{ position: absolute;
  top: 0.5em;
  left: 0;
}

#logo h1, #logo h2
{ font: italic 300% 'century gothic', arial, sans-serif;
  margin: 0 0 0 8px;
  border-bottom: 0;
  text-transform: none;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover
{ color: #EEE;
  padding: 0em 0 0 0;
  letter-spacing: 0.0em;
  text-decoration: none;
  font-style: normal;
}

#logo_text h1 a .logo_color
/* can use logo_color to have color change when hovering */
{ color: #B4BC34;
  font-weight: bold;
  font-style: normal;
}

#logo_text a:hover .logo_color
{ color: #FFF; }

#logo_text h2
{ font-size: 120%;
  color: #999;
  padding: 4px 0 0 0;
}

#menubar
{ margin-right: 10em;
  position: relative;
  top: -3.5em;
}

ul#menu   /* ul element with ID menu */
{ float: right;
  margin: 0;
}

ul#menu li
{ float: left;
  background: #5A5A5A;
  padding: 0 0 0 1em;
  margin: 1px 2px 0 0;
  list-style: none;
}

ul#menu li a
{ font: normal 100% 'trebuchet ms', sans-serif;
  display: block;
  float: left;
  background: #5A5A5A;
  color: #FFF;
  padding: 0.5em 2.5em 0.2em 2em;
  height: 1.5em;
  text-align: center;
  text-decoration: none;
}

ul#menu li.selected
{ background: #00C6F0;
}

ul#menu li.selected a, ul#menu li.selected a:hover
{
  background: #00C6F0;
  color: #FFF;
}

ul#menu li a:hover
{ color: #CCC; }

#site_content
{
  width: 100%;
  padding: 0 0 1em 0;
  margin: 1em auto 0 2em;
  overflow: hidden;
}

#footer
{ font-family: 'trebuchet ms', sans-serif;
  font-size: 100%;
  width: 100%;
  height: 80px;
  background: #3B3939;
  color: #A8AA94;
  padding: 28px 0 5px 0;
  text-align: center;
}

#footer p
{ line-height: 1.7em;
  padding: 0 0 10px 0;
}

#footer a
{ color: #A8AA94;
  text-decoration: none;
}

#footer a:hover
{ color: #FFF;
  text-decoration: none;
}

table
{ margin: 1em 0 2em 0; }

table tr th, table tr td
{ background: #3B3B3B;
  color: #FFF;
  padding: 0.5em 0.5em;
  text-align: left;
}

table tr td
{ background: #E5E5DB;
  color: #47433F;
  border-top: 1px solid #FFF;
}

ul.folderlist
{ list-style-type: none; 
  padding: 0; }

ul.folderlist li         /* for li's inside of ul's */
{ list-style-type: none;
  padding: 0 0 0px 0.5em;
  line-height: 1.2em;
}

ul.folderlist a
{ color: #4040D0;
  text-decoration: none; }

ul.folderlist a:hover
{ color: #8080F0; }

ul.folderlist li.fileitem a
{ color: #000;
  text-decoration: none;
 }

ul.folderlist li.fileitem a:hover
{ color: #888;
 }

#segmenter
{
  position: relative;
  outline: none;
  border: 2px solid #444;
}

.segtool
{
  position: relative;
  background-size: cover;
  background-color: #FFF;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-color: #EEE;
  border: 1px outset;
  display: inline-block;
}

.segtool.down
{
  border: 1px inset;
  background-color: #DDD;
}

.segtool.disabled
{
  border: 1px solid #CCC;
  background-color: #DDD;
}

.segtool:active
{
  border: 1px inset;
  background-color: #DDD;
}

.segtool:hover
{
  background-color: #EEE;
}

.segtool.disabled:active
{
  border: 1px solid #CCC;
  background-color: #DDD;
}

.segtool.disabled:hover
{
  border: 1px solid #CCC;
  background-color: #DDD;
  cursor: default;
}

#brushbtn
{
  background-image: url('img/brush.png');
}

#erasebtn
{
  background-image: url('img/eraser.png');
}

#polybtn
{
  background-image: url('img/poly_tool.png');
}

#savebtn
{
  background-image: url('img/savebtn.png');
}

#zoominbtn
{
  background-image: url('img/zoom_in.png');
}

#zoomoutbtn
{
  background-image: url('img/zoom_out.png');
}

#zoomlevel
{
  position: relative;
  width: 2.8em;
  top: -8px;
  text-align: center;
}

#undobtn
{
  background-image: url('img/undo.png');
}

#redobtn
{
  background-image: url('img/redo.png');
}

#settingsbtn
{
  background-image: url('img/settings.png');
}

#zoomundocontrols
{
  position: absolute;
}

#brushctrl
{
  position: absolute;
  top: 4px;
}

#brushlabel
{
  position: relative;
  left: 16px;
  top: -4px;
}

#brushslider
{
  position: relative;
  left: 16px;
}

#brushsize
{
  position: relative;
  width: 1.8em;
  left: 16px;
  top: -4px;
}

#contourctrl
{
  position: absolute;
  top: 4px;
}

#contourlabel
{
  position: relative;
  left: 16px;
  top: -4px;
}

#contourslider
{
  position: relative;
  left: 16px;
}

#contoursize
{
  position: relative;
  width: 1.8em;
  left: 16px;
  top: -4px;
}

#segmenterapp
{
  position: relative;
  overflow: auto;
  margin: 5px;
  padding: 3px;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

#segmenterctrl
{
  position: absolute;
  top: 3px;
  width: 330px;
  margin-left: 10px;
}

ul.taglist
{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li.taglist
{
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #DDD;
  padding: 2px;
  width: 14em;
}

li.taglist.selected
{
  border: 1px inset #DDD;
}

li.taglist:hover
{
  background-color: #EEE;
/*  border: 1px solid #DDD;*/
}

input.tag
{
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 14em;
}

.colorswatch
{
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, .2);
}

.colorswatch:active
{
  margin: 1px;
}

#plustag
{
  background-image: url('img/add_symbol.png');
  background-color: rgba(0, 0, 0, 0);
  background-size: 100%;
  border: none;
  width: 1em;
  height: 1em;
  outline: none;
}

#plustag:hover
{
  background-image: url('img/add_symbol_darker.png');
  cursor: pointer;
}

#plustag:active
{
  margin: 1px;
}

#segmentersettings
{
  position: absolute;
  visibility: hidden;
  bottom: 6px;
}
