{% extends "base.html" %}
{% block body %}
<h3 id="imgtitle">{{ image_name }}   <span id="imgsize" style="color: #999;"></span></h3>
<div id="segmenterapp">
  <div id="segmenterdiv">
    <canvas id="segmenter">Segmenter canvas</canvas>
  </div>
  <div id="segmentersettings">
    Save format:
    <input type="radio" name="savetype" value="Matlab" checked>Matlab
    <input type="radio" name="savetype" value="PNG">PNG
  </div>
  <div id="segmenterctrl">
    <a class="segtool" id="polybtn"></a>
    <a class="segtool" id="brushbtn"></a>
<!--    <a class="segtool" id="erasebtn"></a>-->
    <span id="brushctrl" style="visibility: hidden;">
      <label for="brushslider" id="brushlabel">size</label>
      <input id="brushslider" type="range" />
      <input id="brushsize" type="text" />
    </span>
    <span id="contourctrl">
      <label for="contourslider" id="contourlabel">smooth</label>
      <input id="contourslider" type="range" />
      <input id="contoursize" type="text" />
    </span>
    <div id="taglistdiv">
      <ul class="taglist" id="taglistobj">
        <li class="taglist" id="tageraser">
          <input class="tag" id="tagnameeraser" type="text" value="eraser" readonly="true" tabindex="-1" /><span class="colorswatch" id="swatcheraser" style="background-image: url({{ url_for('static', filename='img/eraser.png') }}); background-size: cover;"></span>
        </li>
      </ul>
      <button id="plustag"></button>
    </div>
<!--    <div>
      ctrl state: <span id="temp_ctrl">off</span><br />
      shift state: <span id="temp_shift">off</span><br />
      meta state: <span id="temp_meta">off</span><br />
      alt state: <span id="temp_alt">off</span><br />
      key code: <span id="temp_key">???</span>
    </div>-->
  </div>
  <div id="segmentermeta">
    <a class="segtool" id="savebtn"></a>
    <span id="zoomundocontrols">
      <a class="segtool disabled" id="undobtn"></a>
      <a class="segtool disabled" id="redobtn"></a>
      &nbsp;
      <a class="segtool" id="zoominbtn"></a>
      <input id="zoomlevel" type="text" />
      <a class="segtool" id="zoomoutbtn"></a>
      &nbsp;
      <a class="segtool" id="settingsbtn"></a>
    </span>
  </div>
  <script src="{{ url_for('static', filename='segmenter.js') }}"></script>
</div>
<script type=text/javascript src="{{ url_for('static', filename='jquery-2.2.0.min.js') }}"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{% endblock %}
{% block bodyoptions %}
onload="initSketch('{{ image }}', '{{ image_path }}');"
{% endblock %}
