{% extends "base.html" %}
{% block body %}
<h3 id="imgtitle">{{ image_name }}   <span id="imgsize" style="color: #999;"></span></h3>
<div id="segmenterapp">
  <div id="segmenterdiv">
    <canvas id="segmenter">Segmenter canvas</canvas>
  </div>
  <div id="segmenterctrl">
    <a class="segtool" id="polybtn"></a>
    <a class="segtool" id="brushbtn"></a>
    <a class="segtool" id="erasebtn"></a>
    <span id="brushctrl" style="visibility: hidden;" />
      <label for="brushslider" id="brushlabel">size</label>
      <input id="brushslider" type="range" />
      <input id="brushsize" type="text" />
    </span>
    <div id="taglistdiv">
      <ul class="taglist" id="taglistobj">
      </ul>
      <button id="plustag"></button>
    </div>
  </div>
  <div id="segmentermeta">
    <input type="submit" class="segtool" id="savebtn" value="" target="_blank" />
  </div>
  <script src="{{ url_for('static', filename='segmenter.js') }}"></script>
</div>
<script type=text/javascript src="{{ url_for('static', filename='jquery-2.2.0.min.js') }}"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{% endblock %}
{% block bodyoptions %}
onload="initSketch('{{ image }}', '{{ image_path }}');"
{% endblock %}
